* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  color: red;
}

*::selection {
  color: red;
}

.body {
  background-color: gray;
}

a {
  text-decoration: none;
  color: #333;
  margin: 1rem;
}

a:hover {
  color: white;
}

li:hover {
  background-color: black;
}

.titulo {
  text-align: center;
  display: block;
  font-size: 3rem;
  color: #333;
  background-color: gray;
}

.principal {
  text-align: center;
  background-color: gray;
}

/* BT INDEX */
.navbar {
  background-color: #333;
}

.jumbotron1 {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  margin: 0;
  color: tomato;
}

.beatles {
  height: 82  0px;
  width: 100%;
  background-color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img-p {
  height: 650px;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.parrafo {
  display: block;
}

.box {
  height: 50px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.box2 {
  height: 50px;
  width: 100%;
  background-color: #17252a;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.box3 {
  height: 50px;
  width: 100%;
  background-color: #2b7a78;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.box4 {
  height: 50px;
  width: 100%;
  background-color: #3AAFA9;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

/* FIN BT INDEX */
/* BT NOTICIAS */
.navbar {
  background-color: #333;
}

.jumbotron {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  margin: 0;
  color: tomato;
}

.curiosidades {
  min-height: 600px;
  width: 100%;
  background-color: gray;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.item, .item1, .item2, .item3 {
  height: 400px;
  width: 400px;
  text-align: center;
  line-height: 250px;
  font-size: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url(../img/comienzo.jpeg);
}

.item2 {
  background-image: url(../img/beatlesderechos.jpg);
}

.item3 {
  background-image: url(../img/the-beatles.jpg);
}

.item h5, .item1 h5, .item2 h5, .item3 h5 {
  width: 100%;
  font-size: 20px;
  background-color: #c0adc0;
}

/* maps i-footer */
.i--footer1 {
  font-family: monospace;
  height: 80px;
  width: 100%;
  background-color: #c0adc0;
  line-height: 25px;
}

.i--footer2 {
  font-family: monospace;
  height: 80px;
  width: 100%;
  background-color: #c0adc0;
  line-height: 25px;
}

.i--footer3 {
  font-family: monospace;
  height: 80px;
  width: 100%;
  background-color: #c0adc0;
  line-height: 25px;
}

.titulo2 {
  font-family: monospace;
  text-align: center;
  font-size: 3rem;
}

/*FIN DE BT NOTICIAS */
/*GRID GALERIA */
.gallery {
  background-color: gray;
}

.pictures {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: gray;
}

.pictures:before {
  content: "Abrir Imagen";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.pictures:hover::before {
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
}

.galeria_img {
  width: 100%;
  height: 100%;
  background-image: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #000000;
}

.header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  padding: 20px;
}

/*FIN DE GRID GALERIA */
/*INICIO DE GRID GALERIA DE VIDEOS */
.videos {
  padding-bottom: 3em;
  padding-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
      grid-template-areas: "video1 video2" "video3 video4" "video5 video6";
  gap: .8em;
  background-color: gray;
}

.video {
  padding: 2px;
  width: 480px;
  height: 480px;
  border: 2px solid #000000;
}

.video1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video1;
}

.video2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: video2;
}

.video3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video3;
}

.video4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: video4;
}

.video5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: video5;
}

.video6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: video6;
}

.header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  padding: 20px;
}

/*FIN DE GRID GALERIA DE VIDEOS */
.cont {
  background: gray;
}

.pc {
  font-size: 30px;
}

.main-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 100%;
  margin-top: 3em;
}

.main-contacto .main-div-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -50px;
  margin-top: 100px;
  width: 450px;
  height: 290px;
  margin-left: 100px;
  color: white;
  padding: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-contacto .main-div-titulo h1 {
  font-family: 'Roboto', sans-serif;
  padding: 5px 0px;
  font-weight: bold;
}

.main-contacto .main-div-titulo p {
  padding: 20px 0px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.main-contacto .main-div-titulo .envia-un-mensaje {
  background-color: #140021;
  color: white;
  padding: 15px;
  font-weight: 500;
  font-size: 1.125rem;
  border-radius: 10px;
}

.main-contacto .main-div-titulo .envia-un-mensaje a {
  color: white;
}

.main-contacto .main-div-titulo .envia-un-mensaje a:link {
  text-decoration: none;
}

.main-contacto .main-div-titulo .envia-un-mensaje a:visited {
  text-decoration: none;
}

.main-contacto .main-div-titulo .envia-un-mensaje a:active {
  text-decoration: none;
}

.main-contacto .main-div-titulo .envia-un-mensaje:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aside-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 400px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-contacto i {
  position: relative;
  top: -0.2em;
  font-size: 1.875rem;
  padding: 0px 0.4em;
}

.aside-contacto h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 50px 0px;
  margin: 0;
}

.aside-contacto .aside-contacto-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.aside-contacto .h3-aside-contacto {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  left: 50px;
  top: -55px;
  margin: 0;
  width: 200px;
}

.aside-contacto .parrafo {
  position: relative;
  left: 55px;
  top: -45px;
  width: 300px;
}

.formulario-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 37.5em;
  height: 41.5em;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 170px;
  margin-left: 20%;
  padding: 0px 2em;
}

.formulario-contacto .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulario-contacto .formulario legend {
  text-align: center;
  margin: 30px 0px;
  font-size: 1.5rem;
  font-weight: 600;
}

.formulario-contacto .formulario .form-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  width: 90%;
  font-weight: 600;
}

.formulario-contacto .formulario .form-nombre input {
  border-radius: 5px;
  border: 2px solid #560090;
  width: 100%;
  padding: 10px;
}

.formulario-contacto .formulario .form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  width: 90%;
  font-weight: 600;
}

.formulario-contacto .formulario .form-email input {
  border-radius: 5px;
  border: 2px solid #560090;
  width: 100%;
  padding: 10px;
}

.formulario-contacto .formulario .form-mensaje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  width: 90%;
  font-weight: 600;
  width: auto;
  height: auto;
  padding-bottom: 5px;
}

.formulario-contacto .formulario .form-mensaje textarea {
  border: none;
  outline: none;
  resize: none;
}

.formulario-contacto .formulario .form-mensaje .txt-mensaje {
  margin-top: 5px;
  width: 90%;
  height: auto;
  border: 2px solid #560090;
  border-radius: 2px;
  font-size: 1rem;
}

.formulario-contacto .formulario .enviar input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.formulario-contacto .formulario .enviar input {
  padding: 15px;
  font-size: 1.125rem;
  background-color: #560090;
  color: white;
  border-radius: 10px;
  font-weight: 500;
}

.formulario-contacto .formulario .enviar input:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 980px) {
  .main-contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: none;
    margin-top: 100px;
    margin-bottom: 300px;
  }
  .main-contacto .main-div-titulo {
    margin-left: 0;
    text-align: center;
    width: 90%;
    height: 500px;
    background-image: url(dragon-scales.svg);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
  }
  .main-contacto .main-div-titulo a {
    background-color: #2B1B45;
  }
  .main-contacto .main-div-titulo .envia-un-mensaje {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-contacto .aside-contacto {
    margin: auto;
    border-radius: 10px;
    width: none;
    height: none;
    background: rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .formulario-contacto {
    margin: auto;
    width: 400px;
    margin-top: 20em;
  }
}

@media only screen and (max-width: 735px) {
  .main-contacto .main-div-titulo .envia-un-mensaje {
    margin-bottom: 2em;
  }
  .main-contacto .aside-contacto {
    width: 350px;
    height: 600px;
  }
  .formulario-contacto {
    margin: auto;
    margin-top: 25em;
    width: 350px;
    height: 650px;
  }
}

@media only screen and (max-width: 414px) {
  .formulario-contacto {
    margin: auto;
    margin-top: 20em;
  }
  .main-contacto .main-div-titulo .envia-un-mensaje {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=estilos.css.map */