* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  color: red;
}

*::selection {
  color: red;
}

.body {
  background-color: gray;
}

a {
  text-decoration: none;
  color: #333;
  margin: 1rem;
}

a:hover {
  color: white;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

li {
  list-style: none;
}

li:hover {
  background-color: black;
}

.titulo {
  text-align: center;
  display: block;
  font-size: 3rem;
  color: #333;
  background-color: gray;
}

.principal {
  text-align: center;
  background-color: gray;
}

.section {
  display: block;
  width: 100%;
  border-width: 500px;
}

.t3 {
  width: 110%;
  margin-top: 15px;
}

.foo {
  display: block;
}

/* BT INDEX */
.navbar {
  background-color: #333;
}

.jumbotron1 {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  margin: 0;
  color: tomato;
}

.beatles {
  height: 82  0px;
  width: 100%;
  background-color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img-p {
  height: 650px;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.parrafo {
  display: block;
}

.box {
  height: 50px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.box2 {
  height: 50px;
  width: 100%;
  background-color: #17252a;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.box3 {
  height: 50px;
  width: 100%;
  background-color: #2b7a78;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.box4 {
  height: 50px;
  width: 100%;
  background-color: #3AAFA9;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.footer {
  grid-area: footer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

/* FIN BT INDEX */
/* BT NOTICIAS */
.navbar {
  background-color: #333;
}

.jumbotron {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  margin: 0;
  color: tomato;
}

.curiosidades {
  min-height: 600px;
  width: 100%;
  background-color: gray;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.item, .item1, .item2, .item3 {
  height: 400px;
  width: 400px;
  text-align: center;
  line-height: 250px;
  font-size: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url(/img/comienzo.jpeg);
}

.item2 {
  background-image: url(/img/beatlesderechos.jpg);
}

.item3 {
  background-image: url(/img/the-beatles.jpg);
}

.item h5, .item1 h5, .item2 h5, .item3 h5 {
  width: 100%;
  font-size: 20px;
  background-color: #c0adc0;
}

/* maps i-footer */
.i--footer1 {
  font-family: cursive;
  height: 80px;
  width: 100%;
  background-color: #c0adc0;
  line-height: 25px;
}

.i--footer2 {
  font-family: fantasy;
  height: 80px;
  width: 100%;
  background-color: #c0adc0;
  line-height: 25px;
}

.i--footer3 {
  font-family: monospace;
  height: 80px;
  width: 100%;
  background-color: #c0adc0;
  line-height: 25px;
}

.footer {
  grid-area: footer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

/*FIN DE BT NOTICIAS */
/*GRID GALERIA */
.gallery {
  background-color: gray;
}

.pictures {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: gray;
}

.pictures:before {
  content: "Abrir Imagen";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.pictures:hover::before {
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
}

.galeria_img {
  width: 100%;
  height: 100%;
  background-image: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #000000;
}

.header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  padding: 20px;
}

/*FIN DE GRID GALERIA */
/*INICIO DE GRID GALERIA DE VIDEOS */
.videos {
  padding-bottom: 3em;
  padding-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
      grid-template-areas: "video1 video2" "video3 video4" "video5 video6";
  gap: .8em;
  background-color: gray;
}

.video {
  padding: 2px;
  width: 480px;
  height: 480px;
  border: 2px solid #000000;
}

.video1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video1;
}

.video2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: video2;
}

.video3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video3;
}

.video4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: video4;
}

.video5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: video5;
}

.video6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: video6;
}

.header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  padding: 20px;
}

/*FIN DE GRID GALERIA DE VIDEOS */
.cont {
  background: gray;
}

.pc {
  font-size: 30px;
}

.form {
  width: 400px;
  height: 500px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 40px -10px #000;
          box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40vh);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.form form {
  background-color: gray;
}

.input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: 2px solid gray;
}

input:focus {
  border-bottom: 2px solid #333;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: gray;
}

button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid gray;
  background: 0;
  color: black;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

button:hover {
  background: gray;
  color: white;
}
/*# sourceMappingURL=estilos.css.map */